
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: databases.kubepost.io
spec:
  group: kubepost.io
  names:
    kind: Database
    listKind: DatabaseList
    plural: databases
    singular: database
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Database is the Schema for the databases API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              cascadeDelete:
                default: false
                description: 'TODO: aso'
                type: boolean
              databaseName:
                type: string
              extensions:
                items:
                  properties:
                    name:
                      type: string
                    version:
                      default: latest
                      type: string
                  required:
                  - name
                  type: object
                type: array
              instanceRef:
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
              preventDeletion:
                default: true
                type: boolean
            required:
            - databaseName
            - instanceRef
            type: object
          status:
            properties:
              status:
                type: string
            required:
            - status
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
