
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: roles.kubepost.io
spec:
  group: kubepost.io
  names:
    kind: Role
    listKind: RoleList
    plural: roles
    singular: role
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Role is the Schema for the roles API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              cascadeDelete:
                default: false
                type: boolean
              grants:
                items:
                  properties:
                    database:
                      type: string
                    objects:
                      items:
                        properties:
                          identifier:
                            type: string
                          privileges:
                            items:
                              enum:
                              - ALL
                              - SELECT
                              - INSERT
                              - UPDATE
                              - DELETE
                              - TRUNCATE
                              - REFERENCES
                              - TRIGGER
                              - USAGE
                              - CREATE
                              - CONNECT
                              - TEMPORARY
                              - TEMP
                              - EXECUTE
                              type: string
                            type: array
                          schema:
                            default: public
                            type: string
                          table:
                            default: ''''''
                            type: string
                          type:
                            enum:
                            - COLUMN
                            - TABLE
                            - SCHEMA
                            - FUNCTION
                            - SEQUENCE
                            type: string
                          withGrantOption:
                            type: boolean
                        required:
                        - identifier
                        - type
                        type: object
                      type: array
                  required:
                  - database
                  - objects
                  type: object
                type: array
              groups:
                items:
                  properties:
                    name:
                      type: string
                    withAdminOption:
                      default: false
                      type: boolean
                  required:
                  - name
                  - withAdminOption
                  type: object
                type: array
              instanceRef:
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
              options:
                items:
                  type: string
                type: array
              password:
                type: string
              passwordRef:
                properties:
                  name:
                    type: string
                  passwordKey:
                    type: string
                required:
                - name
                - passwordKey
                type: object
              preventDeletion:
                default: true
                type: boolean
              roleName:
                type: string
            required:
            - instanceRef
            - roleName
            type: object
          status:
            properties:
              status:
                type: string
            required:
            - status
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
