name: pre-check

on: 
  push:

jobs:
  pre-check:
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2

      # neccessary step, because ubuntu-20.04 has only glibc 2.31 installed 
      - name: install golang and glibc >= 2.32
        run: |
          sudo apt update
          sudo apt install -y golang
          echo "deb http://archive.ubuntu.com/ubuntu/ impish main" | sudo tee -a /etc/apt/sources.list
          sudo apt update
          sudo apt install libc6 -y

      - name: run checksum.sh
        run: scripts/checksum.sh
        shell: bash

      - name: start build workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository:  hyutota/kubepost 
          event-type: pre-check-successful
          client-payload: '{"ref": "${{ github.ref }}"}'
